@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.AboutUs {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 7em;
}

.about-us-title {
  font-family: "Asisstant", sans-serif;
  margin-top: 1em;
  font-weight: 600;
  letter-spacing: 0.125em;
}

.about-us-text {
  width: 60%;
  margin: 0 auto;
  font-size: 1.2rem;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
  margin-top: 2em;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 70px;
  height: 70px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .java:hover,
.wrapper .java:hover .tooltip,
.wrapper .java:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .heroku:hover,
.wrapper .heroku:hover .tooltip,
.wrapper .heroku:hover .tooltip::before {
  background-color: #5d1a7c;
  color: #ffffff;
}

.wrapper .typeScript:hover,
.wrapper .typeScript:hover .tooltip,
.wrapper .typeScript:hover .tooltip::before {
  background-color: #1579bb;
  color: #ffffff;
}

.wrapper .react:hover,
.wrapper .react:hover .tooltip,
.wrapper .react:hover .tooltip::before {
  background-color: #6eb5f0;
  color: #ffffff;
}

.wrapper .html:hover,
.wrapper .html:hover .tooltip,
.wrapper .html:hover .tooltip::before {
  background-color: #d3561c;
  color: #ffffff;
}

.wrapper .css:hover,
.wrapper .css:hover .tooltip,
.wrapper .css:hover .tooltip::before {
  background-color: #1682b4;
  color: #ffffff;
}

.wrapper .mySql:hover,
.wrapper .mySql:hover .tooltip,
.wrapper .mySql:hover .tooltip::before {
  background-color: #cf5319;
  color: #ffffff;
}

.wrapper .spring:hover,
.wrapper .spring:hover .tooltip,
.wrapper .spring:hover .tooltip::before {
  background-color: #07951a;
  color: #ffffff;
}

.wrapper .redux:hover,
.wrapper .redux:hover .tooltip,
.wrapper .redux:hover .tooltip::before {
  background-color: #79075c;
  color: #ffffff;
}

.wrapper .spring-security:hover,
.wrapper .spring-security:hover .tooltip,
.wrapper .spring-security:hover .tooltip::before {
  background-color: #444444;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.wrapper .spring-security .tooltip {
  width: 110px;
}
