.Coupons {
    width: 90%;
    margin: 1em auto;
    background-color: white;
    border-radius: 20px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.coupons-title {
    font-size: 3rem;
    font-weight: 600;
}


.coupons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.coupon-section {
    width: 400px;
    height: 350px;
    background-color: white;
    margin: 1.5em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all 0.3s ease;
}

.coupon-section:hover {
    transform: scale(1.05);
}

.coupon-img {
    width: 100%;
    min-height: 180px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: 50% 45%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.coupon-amount {
    background-color: #333333;
    color: white;
    border-radius: 20px 0 20px 0;
    padding: 0.2em 0.8em;
}

.coupon-title {
    font-weight: 600;
}

.purchase-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;

}



.details-section {
    margin-left: 0.5em;
    color: #383838;
}

.coupon-purchase-btn {
    padding: 0.5em 1em;
    background-image: linear-gradient(to right, #4C7040 0%, #69A047 100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 20px;
    border: none;
    text-decoration: none;

}

.coupon-purchase-btn:hover {
    background-position: right center;
    color: #fff;

}

.coupon-price {
    border-radius: 20px;
    font-size: 1.2rem;
    border: 2px solid black;
    padding: 0.2em 1.8em;
    margin-left: 1em;
    color: #383838;
}

.cart-btn {
    margin-right: 1em;
    background-image: linear-gradient(to right, #D0971E 0%, #D0CA1E 100%);
}

@media screen and (max-width: 550px) {
    .coupon-purchase-btn {
        font-size: 0.8rem;
    }

    .coupon-price {
        font-size: 0.8rem;
    }
}