.Search {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.Search h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1em;
}

.unmatched-search-section {
    width: 80%;
    margin: 0 auto;
    font-size: 2.5rem;
}